<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rodriguez.divingscores"
    android:versionCode="7"
    android:versionName="1.7" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_trans"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="com.rodriguez.divingscores" />

        <activity
            android:name="com.rodriguez.divingscores.Home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.Home.Welcome" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.DiverHistory">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.DiverHistory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.MeetScores">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.MeetScores" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home.DiverHistory" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.DiverEdit">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.DiverEdit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.DiverDelete"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.DiverDelete" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.MeetResults">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.MeetResults" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.MeetEdit">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.MeetEdit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.MeetDelete"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.MeetDelete" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.Choose">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.Choose" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.ChooseDiver">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.ChooseDiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.ChooseSummary">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.ChooseSummary" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home.ChooseDiver" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.EnterDiver">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EnterDiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.EnterMeet">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EnterMeet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity android:name="com.rodriguez.divingscores.Dives" >
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.Dives" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home.ChooseSummary" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.HowTo">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.HowTo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.ChangeDiveScore">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.ChangeDiveScore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseSummary" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.FailedDive"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.FailedDive" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseSummary" />
        </activity>

        <activity
            android:name="com.rodriguez.divingscores.EditQuickScoreValue"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="stateAlwaysVisible">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EditQuickScoreValue" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.QuickScoreEdit" />
        </activity>

        <activity
            android:name="com.rodriguez.divingscores.EnterFinalDiveScore">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EnterFinalDiveScore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseSummary" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.RemoveDiverFromMeet"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.RemoveDiverFromMeet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseDiver" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.About"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.ViewDiveInfo">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.ViewDiveInfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.MeetScores" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.Rankings">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.Rankings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.RankingsByMeet">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.RankingsByMeet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Rankings" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.Reports">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.Reports" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Welcome" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.EnterDiveList">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EnterDiveList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseDiver" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.ChooseDivesFromList">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.ChooseDivesFromList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.EnterDiveList" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.EnterScoreFromList">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EnterScoreFromList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseDivesFromList" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.EditDiveList">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EditDiveList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.EnterDiveList" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.EnterTotalScoreFromDiveList">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.EnterTotalScoreFromDiveList" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.ChooseDivesFromList" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.QuickScore">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.QuickScore" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.Home" />
        </activity>
        <activity
            android:name="com.rodriguez.divingscores.QuickScoreEdit">
            <intent-filter>
                <action android:name="com.rodriguez.divingscores.Home.QuickScoreEdit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rodriguez.divingscores.QuickScore" />
        </activity>

    </application>

</manifest>